body{
	background-color:#181818;
	font-family:monospace;
}
.barnav{
	background-color:#1f1f1f;
	margin-top:20px;
}
section{

}

.nave{
	border:solid yellow 1px;
	margin:-8px;
}
.icon{
     width: 70px;
        height: 28px;
        position: relative;
        display: inline-block;
}
.icon .img-top{
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;
	
}
.icon:hover .img-top {
        display: inline;
    }
.contenido{
	width:85%;
	float:right;
	margin-top:12px;
	background-color:#d0d0d0;
	border-radius:3px;
	border:solid #0d0d0d 3px;
}
.boton{
	float:left;
	margin-left:2px;
	padding-top:3px;
	padding-botton:-3px;
	width:4%;
	height:2.5%;
	background-color:#aaee99;
	text-align:center;
}
.boton:hover{
	background-color:white;
	color:black;
}